@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    background: rgb(231, 219, 217);
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 34px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-top: 15px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

ul, li {
    font-family: 'Roboto Condensed', sans-serif;
}

li.no-bullets {
    list-style-type: none;
}

li.indent {
    margin-left: 20px;
}

hr {
    text-decoration: dashed;
    height: 5px;
    background-color: black;
}

.center {
    text-align: center;
}

.sally-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
}

#Contact-section {
    padding-top: 25px;
}

.container {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}